*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#carousel{
    width: 990px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#carousel i{
    font-size: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin: 30px;
}

.gallery{
    width: 780px;
    position: relative;
}

.gallery figure{
    display: none;
}

.gallery figure.active{
    display: block;
}

.gallery img{
    width: 100%;
    border-radius: 20px;
}

.gallery figcaption{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    text-align: right;
    padding: 20px;
    text-shadow: 0 0 5px black;
}

#thumbnails{
    display: flex;
    justify-content: space-evenly;
    width: 780px;
    padding: 20px 0;
    overflow-y: auto;
}

.thumbnail-card img{
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    filter: grayscale(100%);
    display: block;
}

.thumbnail-card{
    height: 80px;
    border-radius: 20px;
}
.active-thumbnail{
    box-shadow: 0px 0px 10px 5px #5582ff;
}
.thumbnail-card.active-thumbnail img{
    filter: grayscale(0%);
}